table {
  text-align: center;
  width: 100%;

  th:first-child, 
  td:first-child {
    text-align: left;
  }

  th {
    font-weight: 700;
    padding: 8px 16px;
  }

  td {
    padding: 6px 16px;
  }

  tr:nth-child(even) {
    background: #F7F7F6;
  }

  a {
    color: #3AAD8E;
  }
}
